
{% macro active_link(url) %}
{% if c_module == url %}
    active
{% endif %}
{% endmacro %}

<!doctype html>
<html lang="ua">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>{% block title %}{% endblock %} - ІС Мебельний магазин</title>
    </head>
    <body class="container-fluid d-flex flex-row p-0">
            <nav class="col-12 col-md-2 col-lg-1 p-0 vh-100">
                <h5 class="logo-text-color text-center p-3">ІС "Мебельний магазин"</h5>
                <hr>
                <ul class="h5">
                    <li class="{{ active_link('main') }}"><a href="{{ url_for('main.main') }}">СТАТИСТИКА</a></li>
                    <li class="{{ active_link('query') }}"><a href="{{ url_for('main.query') }}">ЗАПИТ</a></li>
                    <li class="{{ active_link('f_set') }}"><a href="{{ url_for('f_set_list') }}">НАБІР</a></li>
                    <li><a href="#">НАБОРИ</a></li>
                    <li class="{{ active_link('entity') }}"><a href="{{ url_for('entity_list') }}">О МЕБЕЛІ</a></li>
                    <li class="{{ active_link('f_type') }}"><a href="{{ url_for('f_type_list') }}">ВИД</a></li>
                    <li class="{{ active_link('f_maker') }}"><a href="{{ url_for('f_maker_list') }}">ВИРОБНИК</a></li>
                    <li class="{{ active_link('f_material') }}"><a href="{{ url_for('f_material_list') }}">МАТЕРІАЛ</a></li>
                    <li><a href="#">ПРОДАЖІ</a></li>
                </ul>
                <hr>
            </nav>
        <section class="d-flex flex-column col-12 px-0">
            <div class="d-flex m-md-3 mt-md-5">
                <form class="form d-flex flex-row col-12 col-md-8 my-2 my-lg-0">
                    <input class="form-control mr-3" type="search" placeholder="Пошук мебелі за повним чи частковим співпадінням назви" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Пошук</button>
                    </div>
              </form>
            </div>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
