{% extends 'base.html' %}

{% block title %}
Статистика
{% endblock %}

{% block content %}
<section class="ml-3">
    {% if  result.success == True %}
    <div class="alert alert-success col-11 col-md-7 com-lg-5" role="alert">
        {{ result.message }}
    </div>
    {% endif %}
    {% if  result.error == True %}
    <div class="alert alert-danger col-11 col-md-7 com-lg-5" role="alert">
        {{ result.message }}
    </div>
    {% endif %}
    {% if result.data %}
    <table class="table col-12 col-md-6 col-lg-3 col-xl-1">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">Кількість</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>О мебелі</td>
            <td>{{ result.data.f_entity[0] }}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Видів</td>
            <td>{{ result.data.f_type[0] }}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Виробників</td>
            <td>{{ result.data.f_maker[0] }}</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Матеріалів</td>
            <td>{{ result.data.f_material[0] }}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Наборів</td>
            <td>{{ result.data.f_set[0] }}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Продажів</td>
            <td>{{ result.data.f_sales[0] }}</td>
          </tr>
        </tbody>
      </table>
    {% endif %}
    {% if not result.data %}
    {% if result.success == True %}
    <pr class="ml-3">No data</pr>
    {% endif %}
    {% endif %}
</section>

{% endblock %}